<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
  	  <h1>Codebreaker!</h1>
      <h3>Codebreaker! Make a guess of 4 numbers from 1 to 6.</h3>
      <form method="post" action="/play">
        <input type="text" name="name" placeholder="Your name">
        <input type="submit" name="submit" value="Submit!">
      </form>  
    </div>
  </body>
</html>