<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Statistics!</h1>
      <p><%= game.open %></p>
      <a href="/exit"><button>Exit!</button></a> 
    </div>
  </body>
</html>